<div class="coponentCont container">
	<h2 class="page-header">Admin</h2>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a class="tabTriger" aria-controls="users" role="tab" data-toggle="tab">Utilizadores</a></li>
		<li role="presentation"><a class="tabTriger" aria-controls="game" role="tab" data-toggle="tab">Jogos</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="users">
			<table id='admin-users' class="table table-striped">
				<thead>
					<tr>
						<th>hei</th>
						<th>hei</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="game">
			<table id='admin-plays' class="table table-striped">
				<thead>
					<tr>
						<th>hei</th>
						<th>hei</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>