<div class="coponentCont">
    <div id="titleGame">
        <h3 id="TipoLetra">Dashboard</h3>
    </div>
    <div class="ConfigPartidasComponent">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </div>
    <div class="OpcoesPartidas">
        <button type="button" href="#">Criar Partida</button>
        <button type="button" data-toggle="modal" data-target="#EditPart">Editar partida</button>
    </div>
    <!-- tabela historico -->
    <div class="TabelaJogos">
        <table id="jogos" class="table table-condensed">
            <tr>
                <th>Número de jogo</th>
                <th>User</th>
                <th>Resultado</th>
                <th>Pontos</th>
                <th>Mesa</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>Venceu</td>
                <td>500 gold</td>
                <td>6</td>
                <td>A decorrer</td>
            </tr>
        </table>
    </div>
    <!-- modal para editar partidas -->
    <div class="modal fade" id="EditPart" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Histórico</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="usersNum">Nº utilizadores</label>
                            <input type="text" class="form-control" id="usersNum">
                        </div>
                        <div class="form-group">
                            <label for="jogosVisiv">Visibilidade</label>
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="RemovJogos">Remover</label>
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- modal para visualizaçao -->
    <div class="modal fade" id="VisualPart" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Histórico</h4>
                </div>
                <div class="modal-body">
                    <!-- a fazer -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>