/* You can add global styles to this file, and also import other style files */
html, body, .appCont{height: 100%;}
body{padding-top: 70px;}
.coponentCont{padding: 0 15px 20px 15px;height: 100%;}
.alert{margin: 0;}