body{
	background: url(../images/backgroundPic.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*navbar
-----------------------------------------------*/
.navbar-inverse{
	background-color: rgba(34, 34, 34, 0.8);
}
/*footer
-----------------------------------------------*/
#footerAndCopyright{
	background: #212121;
	position: fixed;
	width: 100%;
	bottom: 0;
}
#footerAndCopyright > p{
	color: #616161;
	margin: 10px 0;
}