body{
	background: #f3f3f3;
	padding: 50px 36px;
}
/*navbar
-----------------------------------------------*/
.navbar-inverse{
	margin-bottom: 0;
	background-color: rgba(34, 34, 34, 0.8);
}
/*home page
-----------------------------------------------*/
#slogan{
	width: 700px;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -110px;
	margin-left: -350px; 
	font-family: 'Lobster', cursive;
	font-size: 100px;
	text-align: center;
}
/*profile page
-----------------------------------------------*/
#PP-header{
	background: #bfbfbf;
	padding: 20px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    height: 150px;
}
#name-Cont{
	padding-left: 50px;
}
#SButton-cont{
	height: 115px;
	position: relative;
	margin-top: -15px;
}
#SButton{
	position: absolute;
    top: 50%;
    padding: 5px 10px;
    background: #536dfe;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#PP-body{
	margin-top: 180px;
}
#mainProfCont, #leftProfCont{
	background: #ffffff;
	padding: 20px 15px;
}
#mainProfCont{
	padding-right: 10px;
}
#leftProfCont{
	padding-left: 10px;
}
/*footer
-----------------------------------------------*/
#footerAndCopyright{
	background: #212121;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}
#footerAndCopyright > p{
	color: #616161;
	margin: 10px 0;
}
/*Register From
-----------------------------------------------*/
#country_input-group, .country-select, #country{
	width: 100%;
}
#country{
	height: 34px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.country-select > .flag-dropdown{
	background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px 0 0 4px;
}