.coponentCont{
	background: url(assets/custom/images/game.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: black;
	margin-top: -20px;
}