.btn-info{
    margin-right: 5px;
}
.username-table{
	cursor: pointer;
}
.username-table:hover{
	text-decoration: underline;
}
.table{
	width: 100%!important;
}
tfoot > tr > th > input{
	width: 100%!important;
}
#opsAdminUser{
	width: 100px;
}
#opsAdminUser-Bottom, #admin-users_filter, .hideTableSerach{
	opacity: 0;
}