.page-header{
	margin: 20px 0px;
}
.OpcoesPartidas{
	line-height: 66px;
	text-align: right;
}
.TabelaJogos{
	margin-top: 20px;
}
.hideTableSerach{
	opacity: 0;
}
#opDash{width: 52px;}
#advancedSearch > div, #advancedSearch > button{
	margin-bottom: 10px;
	margin-right: 10px;
}
#advancedSearch > input[type="number"]{
	width: 67px!important;
}