#gameBody{
	padding: 80px 7% 20px 7%;
}
.row{
	margin-top: 100px;
}
#tableCardsRow{
	margin-top: 40px;
}
.container-alerts{
	position: absolute;
	width: 86%;
}
#messa-game{
	border-bottom: #616161 solid 1px;
	margin-bottom: 30px;
}
#botoes_game{
	width: 100%;
	margin-bottom: 10px;
}
#desistir, #cobrir_aposta{
    height: 55px;
}
#chat{
	display: none;
}
.cards-table{
	overflow: hidden;
	width: 195px;
	height: 260px;
	float: left;
}
.cards-table > img{
	display: none;
	position: relative;
    width: 2750px;
}
#gameHistory{
	height: 200px;
    display: block;
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -moz-column-fill: auto;
    column-fill: auto;
}